@model toDoApp.Models.Task

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task1" class="control-label"></label>
                <input asp-for="Task1" class="form-control" />
                <span asp-validation-for="Task1" class="text-danger"></span>
            </div>
            @foreach (var tag in ViewBag.Tags as List<Tag>)
            {
                <div class="form-check">
                @{
                    bool isCheck = Model.Tags.Any(t => t.Id == tag.Id);
                }
                    <input type="checkbox" class="form-check-input" id="@tag.Id" name="tagOfTask" value="@tag.Id" @(isCheck ? "checked" : "")/>
                    <label class="form-check-label" for="">@tag.Tag1</label>
                </div>

            }
            <div class="form-group">
                <label asp-for="Isfinish" class="control-label"></label>
                <input asp-for="Isfinish" class="form-control" />
                <span asp-validation-for="Isfinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
